                                    /* Header Begin */

body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
.header h1{
    text-shadow: 1px 1px 2px blueviolet;
}

.header h1:hover{
    text-shadow: 3px 3px 5px lightgreen;
}

.header img{
    border: 2px solid blueviolet;
    box-shadow: 0 0 10px 2px;
    border-radius: 100%;
    margin: 13px 12px;
}

.header img:hover{
    box-shadow: 0 0 20px 1px;
    border-color: lightgreen;
}

#name{
    font-size: 25px;
}
#name:hover{
    color: yellowgreen;
}

                                    /* Header END */

                                    /* Main Begin */
.main_form{
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.main{
    border: 1px solid lightgrey;
    background-color: rgb(32, 40, 46);
}
.about{
    text-align: center;
}

.information{
    margin: 50px;
}

.my_info{
    font-size: 100%;
}

.menue_buttons{
    list-style: none;
}

.menue_buttons li{
    display: inline-block;
    margin: 12px;
    border-width: 1px;
    padding: 5px;
}

.sub-menu{
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-in;
}

#first_menue_buttons_style{
    border: 2px solid lightgrey;
    border-radius: 25px 0%;
}

#first_menue_buttons_style:hover{
    background-color: rgb(32, 40, 46);
    border-radius: 25px 25px;
    border-color: crimson;
    
}

#second_menue_buttons_style{
    border: 2px solid lightgrey;
    border-radius: 25px 0%;
}

#second_menue_buttons_style:hover{
    background-color: rgb(32, 40, 46);
    border-radius: 25px 25px;
    border-color: crimson;
}

#third_menue_buttons_style{
    border: 2px solid lightgrey;
    border-radius: 0% 25px;
}

p { 
    font-family: Arial; 
    font-size: 18px;
}

h3 { 
    font-family: Arial; 
}

#third_menue_buttons_style:hover{
    background-color: rgb(32, 40, 46);
    border-radius: 25px 25px;
    border-color: crimson;
}

#forth_menue_buttons_style{
    border: 2px solid lightgrey;
    border-radius: 0% 25px;
}

#forth_menue_buttons_style:hover{
    background-color: rgb(32, 40, 46);
    border-radius: 25px 25px;
    border-color: crimson;
}

.menue_buttons a{
    text-decoration: none;
    font-weight: bold;
    color: white; 
}

.menu-item { width: 20%;}

.contents{
    text-align: center;
    font-style: inherit;
}

.menulist{
    list-style-type: none;
    color: white;
    float: unset;
}

.menulist li{
    list-style-type: none;
}

.links{
    color: white;
}

.blocks li{
    list-style-type: none;
}
.blocks li:before{
    content:  "—";
}

hr{
    color: crimson;
}

                                /* Button to top */
.back_to_top{
    position: fixed;
    right: 1%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 100%;
    background-color: lightgreen;
}

.back_to_top:hover,
.back_to_top:focus{
    filter: brightness(1.5);
    outline: none;
}

.back_to_top::before,
.back_to_top::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back_to_top::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
}

.back_to_top::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}
                                    /*Main END*/



                                    /*Footer Begin*/
.footer{
    display: inline-block;
    width: 100%;
    background-color:rgb(32, 40, 46);
    max-height: 100px;
}

.footer-list{
    width: 50%;
    margin: 0 auto;
}

.footer li{
    margin: 30%;
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.6;
  }

.footer li:hover{
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

                                /*Footer END*/